*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style-type: none;
}

header {
    background: #FFFFFF;
    border-radius: 8px;
    margin-bottom: 50px;
    height: 80px;

}

header .container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    gap: 269px;
    min-width: 1100px;
}

.container {
    max-width: 1280px;
    margin: auto;
    width: 100%;
    padding: 0 15px;
    box-sizing: content-box;
}

.rectangle{
    position: absolute;
    left: 15px;
    background: #FFFFFF;
    border-radius: 0px 0px 10px 10px;
    width: 144px;
    height: 111px;
    box-shadow: 0 0 5px rgb(0 0 0 / 50%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.rectangle img{
    cursor: pointer;
}

.message{
    padding-top: 22px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.icon-text{
    padding-top: 29px;
    padding-bottom: 20px;
    color: #A8A8A8;
}

.input {
    display: flex;
    gap: 17px;
    align-items: center;
    border-bottom: 0.25px solid #A8A8A8;
    padding-bottom: 7.89px;
}

i{
    color:#A8A8A8;
    mix-blend-mode: normal;
    opacity: 0.4;
    cursor: pointer;
}

input{
    border: none;
    outline:none;
    font-size: 14px;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    width: 538px;
    font-family: 'Nunito', sans-serif;
}

.message .img-messages{
    cursor: pointer;
}

.message .img-user{
    cursor: pointer;
} 

body{
    background: #E5E5E5;
}

main .container{
    display: flex;
    justify-content: space-between;
}

main .container:last-child{
    padding-bottom: 48px;
}
.images{
    background: #FFFFFF;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    max-width: 304px;
    padding: 20px;
    align-items: center;
    gap: 9px;
}

.preview{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 9px;
}

.preview img{
    cursor: pointer;
}

.more_pictures {
    transform: translate(0px,2.5px);
    position: relative;
}  

.more_pictures p {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    transform: translate(35%,-160%);
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    cursor: pointer;
}

.more_pictures img{
    opacity: 0.2;
}

.card-base{
    width: 955px;
    background: #FFFFFF;
    border-radius: 8px;
}

.dish-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 20px;
}

.dish-info p._1{
    max-width: 40%;
}

.dish-info p{
    font-family:'Nunito', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #030F09;
}


button{
    padding: 14.5px 28.5px;
    border: none;
    outline: none; 
    cursor: pointer;
    background: #30BE76;
    border-radius: 8px;
}

.dish-info p._2{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

.edit{
    display: flex;
    gap: 48px;
    align-items: center;
}

.button.edit {
    background: #FFFFFF;
    color: #30BE76;
    gap:8px;
    padding:0;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.32px;
    color: #30BE76;
    cursor: pointer;
}

.line{
    border-bottom: 0.5px solid #E6E6E6;
    width: 905px;
    margin:auto;
}

p.ingredients-text{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #030F09;
    padding-top:20px;
    padding-left: 25px;
}

ul.ingridient{
    padding-top:20px;
    padding-left: 25px;
    padding-bottom: 25px;
    display: grid;
    row-gap: 15px;
    grid-template-rows: repeat(3, min-content);
    grid-auto-flow: column;
    font-size: 14px;
    line-height: 22px;
}

li.ingridient{
    display: flex;
    align-items: center;
    gap: 15px;
}

li.ingridient span{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #030F09;
}

.how-to-cook{
    margin-top: 20px;
    background: #FFFFFF;
    border-radius: 8px;
    margin-right: 0em;
    margin-left: auto;
    width: 955px;
    padding-top: 25px;
    padding-left: 30px;
    padding-right: 25px;
}

.how-to-cook p{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #030F09;
}

ul.how-to-cook-content{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #030F09;
    padding-top: 30px;
}

.content-video{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-video ul{
    max-width: 47%;
}

.content-video ul li:before{
    position: absolute;
    content: counter(number);
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #30BE76;
    border: 1px solid #30BE76;
    text-align: center;
    line-height: 20px;
    margin-right: 17px;
  }

  .content-video ul li{
    margin-bottom: 22px;
    counter-increment: number;
    padding-left: 40px;
    position: relative;
  }

  .video{
    background: url(../images/video.svg) no-repeat center;
    background-size: cover;
    height: 262px;
    width: 444px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .video .circle{
    background: #FFFFFF;
    height: 49.74050521850586px;
    width: 49.51728439331055px;
    left: 683.3617248535156px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video .circle .triangle{   
    width: 15.75px;
    height: 9.9px;
    border: 9.9px solid transparent; 
    border-left: 15.75px solid #001A49;
    margin-left: 15px;
}

.additional-information{
    margin-top: 20px;
    background: #FFFFFF;
    border-radius: 8px;
    margin-right: 0em;
    margin-left: auto;
    width: 955px;
    padding: 25px;
}

.additional-information p{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #030F09;
}
.additional-information .information{
    color: #A8A8A8;
    display: grid;
    column-gap: 172px;
    grid-template-rows: repeat(2, min-content);
    grid-auto-flow: column;
    padding-top: 30px;
    padding-right: 100px;
}
.additional-information ul.information li{
    display: flex;
}
.additional-information .information li ul li{
    display: flex;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #030F09;
}

.name{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #A8A8A8;
}

.name._1{
    padding-right: 30px;
}

.name._2{
    padding-right: 44px;
}

.name._3{
    padding-right: 98px;
}

